@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Playfair+Display&family=Roboto:wght@300&display=swap');

header {
  font-family: "Oswald", sans-serif;
  text-align: center;
  margin: 0;
}

h1 {
  color: #6781D8;
  font-size: 350%;
  text-align: center;
  margin-bottom: 0%;
}

h2 {
  margin-bottom: 10%;
  text-align: center;
  color: #6781D8;
  font-size: 280%;
  font-family: "Playfair", sans-serif;
}


section {
    align-items: center;
    background-color: none;
    display: flex;
    justify-content: center;
  }
  
  input {
    padding: 5%;
    user-select: none;
    height: 25%;
    width: 85%;
    border-radius: 5px;
    border: none;
    border: 2px solid #6781D8;
    outline: none;
    font-size: 50%;
    display: center;
    text-align: center;
  }
  
  input::placeholder {
    font-size: 450%;
  }
  
  .button-group button {
    background-color: #6781D8; /* Green background */
    border: 1px solid #d1d7eb; /* Green border */
    color: white; /* White text */
    margin-top: 2%;
    padding: 1%; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 95%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
  }
 