@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Playfair+Display&family=Roboto:wght@300&display=swap');

header {
  font-family: "Oswald", sans-serif;
  text-align: center;
  margin: 0;
}

h1 {
  color: #6781D8;
  font-size: 350%;
  text-align: center;
  margin-bottom: 0%;
}

h2 {
  margin-bottom: 10%;
  text-align: center;
  color: #6781D8;
  font-size: 250%;
  font-family: "Playfair", sans-serif;
}


section {
    align-items: center;
    background-color: none;
    display: flex;
    justify-content: center;
  }
  
input {
    padding: 5%;
    user-select: none;
    height: 25%;
    width: 95%;
    border-radius: 5px;
    border: none;
    border: 2px solid #6781D8;
    outline: none;
    font-size: 5%;
    display: center;
    text-align: center;
  }
  
  input::placeholder {
    font-size: 150%;
  }
  
  .button-group button {
    background-color: #6781D8;
    border: 1px solid #d1d7eb;
    color: white;
    margin-top: 2%;
    padding: 1%;
    cursor: pointer;
    width: 95%;
    display: block; /* Make the buttons appear below each other */
  }
  
  .displayBadge{
            margin-top: 5%;
            display: none;
            text-align: center;
        }